{% extends 'app/base.html' %}
{% load static %}
{% block title %}Bottom Wear{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="{% url 'bottomwear' 'all' %}" class="list-group-item list-group-item-action" aria-current="true">all </a>
        <a href="{% url 'bottomwear' 'denim' %}" class="list-group-item list-group-item-action" aria-current="true">denim</a>
        {% comment %} <a href="{% url 'topwear' 'reymond' %}" class="list-group-item list-group-item-action" aria-current="true">zara</a> {% endcomment %}
        <a href="{% url 'bottomwear' 'below' %}" class="list-group-item list-group-item-action" aria-current="true">below 300</a>
        <a href="{% url 'bottomwear' 'above' %}" class="list-group-item list-group-item-action" aria-current="true">above 300</a>
    </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
    <div class="row">
        {% for product in bottomwear %}
        <div class="col-sm-4 text-center mb-4">
            <a href="{% url 'product-detail' product.id %}" class="btn">
            <div class="item">
                <img src="{{ product.product_image.url }}" alt="" height="300" class="img-fluid">
                <div class="fw-bold">{{ product.title }}</div>
                <div class="fw-bold">Rs. {{ product.discount_price }}
                    <small class="fw-light text-decoration-line-through">{{ product.selling_price }}</small>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}
